/* Developer: leo7044 */

/* Optik div-Container-Header */
div.box-header
{
	border:0px solid #888888;
	box-shadow:0px 2px 5px #CCCCCC;
	max-width:1113px;
	padding:20px;
	text-align:center;
	position: relative;
}

/* Optik div-Container-Content*/
div.box-content
{
	border:1px solid #888888;
	box-shadow:0px 2px 5px #CCCCCC;
	max-width:1113px;
	padding:20px;
	background-color:#F8F8FF;
	height: 650px;
}

/* author-span platzieren in header */
.author
{
	position: absolute;
	right: 20px;
	bottom: 20px;
}

/* 2 divs übereinander gelegt (Felder und editForm) */
.parent
{
    position: relative;
}

/* Platzierung des editForms */
#divEditField
{
    position: absolute;
    max-width: 35%;
    right: 20px;
    top: 20px;
}

/* Platzierung des Hilfe-Containers (gleiche Stelle wie editForm) */
#divHelp
{
    position: absolute;
    max-width: 35%;
    right: 20px;
    top: 20px;
}

/* Optik der Felder */
.field, .field-disabled
{
    text-align: center;
    height: 80px;
    border: 1px solid #000000;
}

/* Beginn der Text-Höhe (2 Zeilen) */
.field
{
    padding-top: 20px;
}
.field:hover
{
	border: 3px solid #000000;
}
.field:
{
	border: 3px solid #000000;
}

/* Beginn der Text-Höhe (1 Zeile) */
.field-disabled
{
    padding-top: 26px;
}

/* Text-Cursor unterdrücken */
div
{
	cursor: default;
}