/* Optik div-Container-Header */
div.box-header
{
	border:0px solid #888;
	box-shadow:0px 2px 5px #ccc;
	max-width:1113px;
	padding:20px;
	text-align:center;
}

/* Optik div-Container-Content*/
div.box-content
{
	border:1px solid #888;
	box-shadow:0px 2px 5px #ccc;
	max-width:1113px;
	padding:20px;
	background-color:#F8F8FF;
}

.parent
{
    position: relative;
}

#divEditField
{
    position: absolute;
    max-width: 35%;
    right: 20px;
    top: 20px;
}

.field, .field-disabled
{
    text-align: center;
    height: 80px;
    border: 1px solid black;
}

.field
{
    padding-top: 20px;
}

.field-disabled
{
    padding-top: 26px;
}

a
{
	cursor: pointer;
}